* {
    font-family: 'PT Mono', monospace;
}


.flex {
    display:flex;
}

.container1 {
    display:flex;
    justify-content: center;
    padding: 3em;
}

.container1 button {
    background-color: #81F4E1;
    color:white;
    padding: 1em 2em;
    border:none;
    cursor:pointer;
}

.container2 {
    display:flex;
    justify-content: center;
    padding: 3em 30%;
}

.container2 input {
    border: solid 1px #dbdbdb;
    flex-grow: 1;
}

.container2 button {
    background-color: #5AC9F5;
    color:white;
    padding: 1em 2em;
    border:none;
    cursor:pointer;
}

.container3 {
    width:100%
}

.container3 ul {
    list-style-type: none;
    display:flex;
    margin-left:auto;
}

.container3 a {
    color:black;
    text-decoration: none;

}

.container3 li {
    padding:0 3em;
}

.ico {
    margin-left:5em;
}

.ico img {
    width:40px;
}

.container4 {
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

.container4 .flex {
    justify-content: center;
    flex-wrap: wrap;
}

.container4 button {
    background-color: #FD729D;
    color:white;
    padding: 1em 2em;
    border:none;
    cursor:pointer;
    flex:30%;
    margin:10px
}

.container5 {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.container5 .flex {
    flex-wrap: wrap;
}

.container5 img {
    flex:25%;
    max-width: 25%;
    height:250px;
    object-fit: cover;
    padding:10px;
    box-sizing: border-box;
}

.container5 .flex img:nth-child(5) {
    flex:100%;
    max-width: 100%;
    height:400px;
}

.container5 .flex img:nth-child(2n+7) {
    height:400px;

}